client:
  username: root
  password: root1234
  topic_prefix: equipment/parameter/
  ipaddr: 10.233.5.52
#  ipaddr: 127.0.0.1
  port: 1883
  keepalive: 600

equipment:
  hlh: # 回流焊
    id: !!str 610
  printer: # 打印机
    id: !!str 608

task:
  identifier: 1 # 表示当前运行的设备 0：回流焊 1：打印机
  interval: 5 # 秒间隔
  out_indent: null # 输出格式
